<ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" routerLink="profile" role="button" aria-haspopup="true" aria-expanded="false">{{currentUser}}</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #353942;">
            <a class="dropdown-item" routerLink="logout" style="color: white; background-color: #353942;">Log out</a>
        </div>
    </li>
</ul>